@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    background-color: #1F1F1F;
    place-items: center;
    font-family: "Inter", sans-serif;
}
.double-slider-box{
    background-color: #1F1F1F;
    padding: 20px 40px;  
    border-radius: 30px; 
    max-width: 20rem; 
}
h3.range-title{
margin-bottom: 10rem;
color: #FFECBB;
}
.range-slider{
    position: relative;
    width: 100%;
    height: 12px;
    margin: 30px 0;
    background-color: #FDC840;
    border-radius: 30px;
}
.slider-track{    
    position: absolute;
    width: 100%;
}
.range-slider input{
    position: absolute;
    width: 100%;
    background: none;
    top: 37px;
    transform: translate(-1%);
    appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    /* -webkit-appearance: none; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    pointer-events: auto;
    appearance: none;
    margin-top: -43px;
}
input[type="range"]::-moz-range-thumb{    
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
    pointer-events: auto;
    -moz-appearance: none;
    margin-top: -43px;
}
.tooltip{
    width: 54px;
    height: 23px;
    padding: .25rem .5rem;
    border: 0;
    background: #6A6A6A;
    color: #ffffff;
    font-size: 12px;
    line-height: 14.52px;
    border-radius: 5px;
    bottom: 120%;
    display: block;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}
.min-tooltip{
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 5;
    margin-bottom: 16px;
}
.max-tooltip{
    right: 50%;
    transform: translateX(50%) translateY(-100%);
    margin-bottom: 16px;
}
.input-box{
    display: flex;
    margin-top: 6rem;
}
.min-box, 
.max-box{
    width: 50%;
}
.min-box{
    padding-right: .5rem;
    margin-right: .5rem;
}
.input-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-addon{
    display: flex;
    align-items: center;
    padding: .625rem 1 rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(231, 158, 158);
    text-align: center;
    white-space: nowrap;
    padding-right: 5px;
}
.input-field{
    margin-left: -1px;
    padding: .425rem .75rem;
    font-size: 0.8125rem;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    color: rgb(24, 47, 47);
    background-color: #fff;
    background-clip: padding-box;
}
.input-field:focus{
    outline: none;
}
